POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
NEXTCLOUD_PORT=8081
# Credenciais do admin do Nextcloud para facilitar
NEXTCLOUD_ADMIN_USER=nextcloud
NEXTCLOUD_ADMIN_PASSWORD=nextcloud123
# Lista secreta de domínios (opcional no setup inicial)
NEXTCLOUD_TRUSTED_DOMAINS=
